<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Local CSS file for styling the application-->
        <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">


        <title>IA ART App</title>

    </head>
        <!-- Additional Styling -->
         <!-- {% block styling %}-->
         <!-- {% endblock %}-->
  
        <header>
            <h1>IART - Creating ART with AI</h1>
            <nav>
                <ul>
                    <li class="nav__item"><a href=" {{ url_for('home.welcome') }}" style="color:#0f81b6"; class="nav__link">Home</a></li>
                    <li class="nav__item"><a href=" {{ url_for('users.profile') }}" style="color:#b60f47"; class="nav__link">Profile</a></li>
                    <li class="nav__item"><a href="{{ url_for('gan.home') }}" style="color:#227742fd"; class="nav__link">GAN</a></li>
                    <li class="nav__item"><a href="{{ url_for('gallery.home') }}"  style="color:#e4bd0ffd"; class="nav__link">Gallery</a></li>
                    <li class="nav__item"><a href="{{ url_for('style_transfer.index') }}" style="color:#e95f10"; class="nav__link">Style Transfer</a></li>
        
                </ul>
            </nav>
        </header>

        <body>
        <main class="content">
            <!-- child template -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flash>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        
        </main>

        <footer>
            <p>Created by Lucile Sénicourt (2021)</p>
        </footer>
       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>



